h1 {
    color: red;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

main {
    margin-top: 8em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main > .container {
    padding: 60px 15px 0;
}

a.username{
    color: white
}

h2.error{
    color: red;
}

div.mycard{
    margin: auto;
    width: 18rem;
}

#liste-auteur {
    list-style: none;
}

#liste-auteur li{
    border: solid;
    border-color: grey;
}

.custom-select {
    position: relative;
    z-index: 1;
    transition: z-index 0.3s ease;
}

.custom-select:focus {
    position: absolute;
    z-index: 1000;
}
