h1 {
    color: red;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

main {
    margin-top: 8em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main > .container {
    padding: 60px 15px 0;
}

a.username{
    color: white
}

h2.error{
    color: black;
}

div.mycard{
    margin: auto;
    width: 18rem;
}

#liste-auteur {
    list-style: none;
}

#liste-auteur li{
    border: solid;
    border-color: grey;
}

img{
    margin: 1%;
}

.select-option {
    position: relative; /* Pour positionner le sélecteur par rapport à ce conteneur */
    z-index: 10; /* Assure que le sélecteur est au-dessus des éléments sous-jacents */
}

.custom-select {
    position: absolute; /* Positionnement absolu pour le sélecteur */
    z-index: 11; /* Z-index supérieur pour s'assurer qu'il soit au-dessus */
    /* Ajoutez les marges ou padding si nécessaire */
    top: 0; /* Ajustez cette valeur pour le positionnement vertical souhaité */
    left: 0; /* Ajustez cette valeur pour le positionnement horizontal souhaité */
}

/* Réglages pour le conteneur .sample */
.sample {
    position: relative; /* S'assure que le contexte d'empilement soit propre */
    z-index: 1; /* Un z-index inférieur pour que le contenu derrière soit en dessous */
}
