{% extends 'base.html' %}
{% block content %}
<h1>Edit author : {{ author.name }}</h1>
{% if current_user.is_authenticated%}
<form role="form" method="POST" action ="{{ url_for('save_author') }}">
    {{ form.hidden_tag() }}
    <div class={% if form.name.errors %}
                "form-group has-error"
                {% else %}
                "form-group"
                {% endif %}>
        {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
    </div>
    {% if form.name.errors%}
    <ul class="list-group">
        {% for e in form.name.errors%}
        <li class="list-group-item list-group-item-danger">{{e}}</li>
        {% endfor%}
    </ul>
    {% endif%}
    <input class="btn btn-success rounded-pill btn-enreg" type="submit" value="Enregistrer">
    <input class="btn btn-danger rounded-pill btn-suppr" type="submit" value="Supprimer">
</form>
<h1 class="titre-oeuvre">Oeuvres</h1>
<div class="sample">
    {% for x in books %}
    <a href="{{url_for('detail', id=x.id)}}">
        <img src="{{ url_for('static', filename='images/'+x.img) }}" alt="{{x.title}}" title="{{x.title}}">
    </a>
    {% endfor %}
</div>
{% else %}
<h2 class="error">You are not authentified</p>
{% endif %}
{% endblock %}